.Header {
    display: flex;
    background-color: #f1f1f1;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Title {
    width: 60%;
    align-self: center;
    display: flex;
}

.Blank {
    width: 20%;
    align-self: center;
}

.Header > button {
    margin: 10px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1a365f;
    margin-left: auto;
    margin-right: auto;
}