.Centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Centered-container > .Login-form {
    height: 60vh;
}

.Login-button {
    margin: 0.5rem 0;
}

.Form-label {
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.Input-field {
    width: 100%;
    padding: 1rem 0;
    margin: 0.5rem 0;
    width: 200px;
    padding: 0.5rem;
}